/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 7, 2024, 6:01:56 PM
    Author     : Dell
*/

body{
    margin-top: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.shoppingcart{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding:20px;
    text-align: center;
}

header{
    background: #6b1111;
}

.head{
    background-color: #6b1111;
    border-radius: 3px;
    height: 40px;
    padding:10px;
    margin-bottom: 20px;
    color: white;
    align-items: center;
    display: flex;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  border-radius: 10px;
  background: #6b1111;
  color: bisque;
  margin-top: 5px;
  cursor: pointer;
}

.submit-btn:hover{
  background: bisque;
  color: #6b1111;
}

